body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0 auto !important;
}

header {
    text-align: center;
}

.container1 {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 0 !important;
}

.balance1 {
    margin-bottom: 20px;
    width: 100%;
    max-width: 50%;
}

.balance1 h3 {
    margin-top: 0 !important;
    font-weight: 600;
}

.balance1 table {
    width: 100%;
    border-color: collapse;
}

.balance1 th,
.balance1 td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.balance1 td {
    border-top: 1px solid #ccc;
}

.balance1 tbody tr:nth-child(odd) {
    background: #f2f2f2;
}

.add-balance {
    width: 100%;
    max-width: 20%;
    margin-left: 50px;
}

.add-balance h3 {
    margin-top: 0;
    font-weight: 600;
}

.add-balance form {
    display: flex;
    flex-direction: column;
}

.add-balance .form-group {
    margin-bottom: 10px;
}

.add-balance label {
    font-weight: bold;
}

.add-balance input, .add-balance select {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
}

.add-balance button {
    padding: 8px 16px;
    background-color: mediumaquamarine;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.button-td {
    display: flex;
    align-items: baseline;
}

.button-td input,
.edit-button,
.delete-button {
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button {
    margin-right: 20px;
    background-color: orange;
    text-decoration: none;
}

.delete-button {
    background-color: tomato!important;
}
